/* Styling of the examples view */

body {
  color: red;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
}

img.fade.rip-img {
  transition-delay: 1000ms;
}
.object-cover {
  object-fit: cover;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.h-48 {
  height: 12rem;
}
.h-96 {
  height: 24rem;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
